<!--Barres de Nav-->
<!--    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper container">
                <form ng-submit="$ctrl.getSearchQuestions()" id="search">
                    <input type="text" placeholder="Search..." ng-model="$ctrl.searchQuery" />
                    <a ui-sref='kanList'> ACCUEIL </a>
                </form>
            </div>
        </nav>
    </div>-->

<div>
    <nav>
        <div class="nav-wrapper fixed">
            <a href="#" class="brand-logo"><img src="/logo.png "></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="heightexpandable"><a href="sass.html"><i class="material-icons">person_pin</i>My KanProfile</a></li>
                <li class="heightexpandable"><a href="badges.html"><i class="material-icons">queue_music</i>My KanLists</a></li>
                <li class="heightexpandable"><a href="collapsible.html"><i class="material-icons">email</i>Invitations</a></li>
                <li>
                    <form ng-submit="$ctrl.getSearchQuestions()" id="search">
                        <input type="text" placeholder="Search..." ng-model="$ctrl.searchQuery" />
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>

    <ui-view></ui-view>

