<!--Barre de Nav-->
<header>
    <div>
        <nav>
            <div class="navbar-fixed">
                <nav class="#455a64 blue-grey darken-2">
                    <!--<div class="nav-wrapper container" ng-controller="main as ctrl">-->
                    <ul class="right hide-on-small-only" data-activates="mobile-demo">
                        <li>
                            <form ng-submit="$ctrl.getSearchMusic()" id="search">
                                <input name="q" type="text" placeholder="Search..." ng-model="$ctrl.searchQuery" />
                            </form>
                        </li>
                        <li>
                            <a ui-sref="Playlists" ui-sref-active="select" tooltips tooltip-template="Questions" tooltip-side="bottom"><i class="material-icons">reorder</i></a>
                        </li>
                    </ul>
            </div>
            </nav>
    </div>
</header>

<footer class="page-footer">
    <div class="container">
        <a class="grey-text text-lighten-4 right">© 2016 Copyright Text</a>
        <a class="grey-text text-lighten-4 right" href="https://wildcodeschool.fr" target="_blank">La Wild Code School</a>
    </div>
</footer>
</div>