<div>
    <nav>
        <div class="nav-wrapper fixed">
            <a ui-sref="home" class="brand-logo"><img src="assets/images/logo.png "></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="heightexpandable"><a ui-sref="kanProfile"><i class="material-icons">person_pin</i>My KanProfile</a></li>
                <li class="heightexpandable"><a ui-sref="kanLists"><i class="material-icons">queue_music</i>KanLists</a></li>
                <li class="heightexpandable"><a ui-sref="kanInvitation"><i class="material-icons">email</i>Invitations</a></li>
            </ul>
            <ul class="right">
                <li>

                    <a class="hide-on-large-only">

                        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="row content">
    <div class="col l10 offset-l1 m12">
        <div class="col m1">
        </div>
        <div class="col m10 xs12">

            <div class="divider"></div>
            
            <table class="tableplaylist" style="width:100%">
                <tr>
                    <th>Piotr___</th>
                    <th>pierrevicq@gmail.com</th>
                    <th> </th>
                </tr>
            </table>
        </div>
        <div class="col m1">
        </div>
    </div>
</div>


<div class="row content">
    <div class="col l10 offset-l1 m12">
        <div class="col m1">
        </div>
        <div class="col m10 xs12">
            <div class="titlemusic center">{{$ctrl.titre}}</div>

            <ul class="taglist">
                <li ng-repeat="tag in $ctrl.tagslist">{{tag}}</li>
            </ul>
            <h1 class="center titleplaylist">Mes kanLists</h1>
            <div class="divider"></div>
            <form ng-submit="$ctrl.getSearchQuestions()" id="search">
                <input type="text" placeholder="Search..." ng-model='search' />
            </form>
            <table class="tableplaylist" style="width:100%">
                <tr>
                    <th>KanLists</th>
                    <th>Titres</th>
                    <th>Tags</th>
                    <th> </th>
                </tr>
                <tr ng-repeat="kanList in $ctrl.kanLists | filter:search">
                    <td>{{kanList.nom}}</td>
                    <td>{{kanList.urls.length}}</td>
                    <td>{{kanList.creator.username}}</td>
                    <td>
                        <ul class="taglist">
                            <li ng-repeat="tag in kanList.tags">{{tag}}</li>
                        </ul>
                    </td>
                    <td>
                        <a ng-click='$ctrl.showTitles(kanList)' class="waves-effect waves-light btn"><i class="green material-icons">play_arrow</i></a>
                    </td>
                </tr>
            </table>
            <div class="titleplaylist center" ng-if="$ctrl.soundcloudurl == null && $ctrl.deezerurl == null && $ctrl.ytburl == null">Aucune playlist</div>

        </div>
        <div class="col m1">
        </div>
    </div>
</div>