
<div>
    <nav>
        <div class="nav-wrapper fixed">
            <a ui-sref="home" class="brand-logo"><img src="/logo.png "></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="heightexpandable"><a ui-sref="kanProfile"><i class="material-icons">person_pin</i>My KanProfile</a></li>
                <li class="heightexpandable"><a ui-sref="kanLists"><i class="material-icons">queue_music</i>KanLists</a></li>
                <li class="heightexpandable"><a ui-sref="kanInvitation"><i class="material-icons">email</i>Invitations</a></li>
            </ul>
            <ul class="right">
                <li>

                    <a class="hide-on-large-only">

                        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">KanList 1</span>
      <p>Video Youtube<br>
         blahblahblah
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">KanList 2</span>
      <p>Playlist Spotify<br>
         blahblahblah
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">KanList 3</span>
      <p>Sound-Cloud<br>
         blahblahblah
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">KanList 4</span>
      <p>Deezer<br>
         blahblahblah
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>