<div>
  <nav>
    <div class="nav-wrapper fixed">
      <a ui-sref="home" class="brand-logo"><img src="assets/images/logo.png "></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="heightexpandable"><a ui-sref="kanProfile"><i class="material-icons">person_pin</i>My KanProfile</a></li>
        <li class="heightexpandable"><a ui-sref="kanLists"><i class="material-icons">queue_music</i>KanLists</a></li>
        <li class="heightexpandable"><a ui-sref="kanInvitation"><i class="material-icons">email</i>Invitations</a></li>
      </ul>
      <ul class="right">
        <li>

          <a class="hide-on-large-only">

            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<br>
<br>
<br>
<br>





<h1 class="center-align grey-text more_little superTop">Invite a friend</h1>
        <div class="row">
            <div class="col m8 offset-m2">
                <div class="green-text">{{$ctrl.successtext}}</div>
        <form class="grey-text" name="invit">
            <input ng-model="$ctrl.newUser.email" type="email" name="recipient" value="" placeholder="The recipient mail here" required>
            <textarea ng-model="$ctrl.newUser.message" rows="8" cols="8" aria-placeholder="you can type an invit message if you want..."></textarea>
            <button class="waves-effect waves-light btn" ng-click="$ctrl.sendInvit($ctrl.newUser)">Send your message</button> 
        </form>
        
        
    

    <!--<table class="bordered highlight grey-text top">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody ng-repeat="user in $ctrl.users">
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.status}}</td>
                <td ng-if="user.first_name" class="accepted">accepted</td>
                <td ng-if="user.message" class="not-accepted">not accepted</td>
            </tr>
        </tbody>
    </table>-->
    </div>
    </div>

