<table>
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>email</th>
            <th>date invitation</th>
            <th>statut</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="kanInvited in $ctrl.kanInvited">
            <td>kanInvited.firstName</td>
            <td>kanInvited.lastName</td>
            <td>kanInvited.email</td>
            <td>kanInvited.invitedDate</td>
            <td>kanInvited.staus</td>
        </tr>
        <tr>
            <td>Pierre</td>
            <td>Etleloup</td>
            <td>pierre@gmail.com</td>
            <td>12/12/2012</td>
            <td>12/12/2012</td>
        </tr>
        
    </tbody>
</table>