<h1 class="center-align grey-text more_little">Add a kanList</h1>
        <div class="row">
            <div class="col m8 offset-m2">
        <form class="grey-text" name="invit">
            <input ng-model="$ctrl.newkanList.title" type="email" name="recipient" value="" placeholder="kanList Title" required>
            <div class="divideradd"></div>

            
            <input ng-model="$ctrl.newkanList.title1" type="email" name="recipient" value="" placeholder="title" required>
            <input ng-model="$ctrl.newkanList.url1" type="email" name="recipient" value="" placeholder="URL" required>
            <div class="dividers"></div>
            <input ng-model="$ctrl.newkanList.title2" type="email" name="recipient" value="" placeholder="title" required>
            <input ng-model="$ctrl.newkanList.url2" type="email" name="recipient" value="" placeholder="URL" required>
            <div class="dividers"></div>
            <input ng-model="$ctrl.newkanList.title3" type="email" name="recipient" value="" placeholder="title" required>
            <input ng-model="$ctrl.newkanList.url3" type="email" name="recipient" value="" placeholder="URL" required>
            <div class="dividers"></div>
            <input ng-model="$ctrl.newkanList.tags" type="email" name="recipient" value="" placeholder="Tags, Tags, Tags" required>
            
            <button class="waves-effect waves-light btn" ng-click="$ctrl.savekanList($ctrl.newkanList)">Add </button> 
        </form>